{% extends 'app/base.html' %}

{% block content %}
    <h1>Hi! Mari, once again.</h1>
    <p>I am a third-year BSIT students at Cavite State University-Bacoor Campus. I am firm on what I believe is right, and I believe in the saying that "Everything Happened for a Purpose". I am not an outgoing person, very selected with friends because I am more into quality than
        quantity. I am a person who is very family-oriented and my hobbies are reading books and watching movies. </p>
    </p>
{% endblock content %}